localhost

browse

git {
    repo     git@github.com:Vervious/bob.expert.git
    key      /home/ubuntu/.ssh/id_rsa
    path     /home/ubuntu/bob.expert
    interval -1
    hook /superxyzwebhook 89asdfj1h23987982l34kafipmnxcvb32r8dkfjjgghweuhsdkjf10
    hook_type github
    then_long sudo /bin/systemctl restart caddy.service
}