
http://spilled.coffee http://172.81.182.253 localhost:2019 {

    git {
        repo     git@github.com:Vervious/spilled.coffee-web.git
        key      /lib/ssh/ssh/id_rsa
        path     /home/ubuntu/spilled.coffee-web
        interval -1
        hook /superxyzasdfwebhook fo1kkg89fg3nnvvcbvbgfdtrutiuiojkojyiufgljkjeu48ljafsjlfjhldas
        hook_type github
        then_long bash /home/ubuntu/spilled.coffee-web/caddy/redeploy.sh
    }
}



